.suggestion-card {
  padding: 0.5rem;
  cursor: pointer;
}

.selected-suggestion {
  color: rgb(37, 37, 37);
  background: -webkit-linear-gradient(top, #fff0ca 100%, #fff 0);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.25), 0 1px 5px rgba(0, 0, 0, 0.25);
}

.word-found {
  color: #0e69df;
  font-weight: 500;
}
