.suggestion-container {
  list-style-type: none;
  position: absolute;
  width: min(90vw, 400px);
  border: 1px solid black;
  padding: 0;
  left: 1rem;
  top: 3rem;
  background-color: white;
  font-size: 1rem;

  /* make suggestion card container scrollable */
  height: 300px;
  overflow-y: auto;
}

.suggestion-container.no-user-found {
  display: flex;
  align-items: center;
  justify-content: center;
}
