.suggestion-container {
  width: 300px;
  border: 1px solid black;
  position: absolute;
  left: 1rem;
  top: 3rem;
  padding: 1rem;
  background-color: white;
  font-size: 1rem;
  list-style-type: none;

  /* make suggestion card container scrollable */
  height: 300px;
  overflow-y: auto;
}
