.input-search,
.input-search-icon,
.input-clear-icon {
  font-size: 1.5rem;
  color: grey;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(400px, 98vw);
  background: var(--color-bg-search-input);
  padding: 0.5rem;
  color: white;
  margin-top: 1rem;
}

.input-search {
  width: 100%;
  margin: 0 0.5rem 0 0.5rem;
  border: none;
  outline: none;
  background: var(--color-bg-search-input);
  color: grey;
}

.input-search::placeholder {
  color: grey;
}
