.search-input,
.search-input-icon,
.clear-input-icon {
  font-size: 1.5rem;
  color: grey;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(400px, 98vw);
  background: var(--color-bg-search-input);
  padding: 0.5rem;
  color: white;
  margin-top: 1rem;
}

.search-input {
  width: 100%;
  margin: 0 0.5rem 0 0.5rem;
  border: none;
  outline: none;
  background: var(--color-bg-search-input);
  color: grey;
}

.search-input::placeholder {
  color: grey;
}
