.suggestion-card .id,
.suggestion-card .name {
  font-size: 1rem;
}

.suggestion-card .id {
  font-weight: 500;
}

.suggestion-card .name {
  font-style: italic;
}

.item-search-text .item-search-text-list {
  list-style-type: none;
  font-size: 0.9rem;
  line-height: 1rem;
  border: 1px solid #808080;
  border-width: 1px 0 1px 0;
  padding: 5px;
  margin: 5px 0;
}

ul.item-search-text-list li::before {
  content: "\2022"; /* \2022 is the CSS unicode for a bullet */
  color: #0e69df;
  display: inline-block;
  width: 1em;
}

.suggestion-card .address,
.suggestion-card .pincode {
  font-size: 0.8rem;
}

.suggestion-card .id,
.suggestion-card .name,
.suggestion-card .item-search-text-list,
.suggestion-card .address,
.suggestion-card .pincode {
  padding: 3px;
}

.show-user-container .id,
.show-user-container .name,
.show-user-container .items,
.show-user-container .address,
.show-user-container .pincode,
.show-search-results-container .id,
.show-search-results-container .name,
.show-search-results-container .items,
.show-search-results-container .address,
.show-search-results-container .pincode {
  display: inline-block;
}
